#login-btn {
    font-size: 1.1em;
}

#signup-btn {
    margin-left: 1.5em;
    font-size: 1.1em;
}

.navbar-brand {
    font-size: 1.75em;
    font-weight: 600;
}

.nav-link {
    font-size: 1.1em;
    margin-left: 1.1em;
}

.button {
    font-size: 5em;
}

@media only screen and (max-width: 65em) {

    /* for non-mobile screens */
    #signup-btn {
        margin-top: 1em;
        margin-left: 0em;
    }
}