.gridM-container{
    height: 50%;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.heading1
{
    color: rgba(1, 19, 95, 0.726);
    font-size: 60px;
    height: 100%;
    width: 100%;
    grid-column: 1 /13;
    grid-row: 1 / 2;
    text-align: center;
    background: rgb(0, 102, 211);
    background: linear-gradient(90deg, rgba(0, 102, 211, 1) 0%, rgb(121, 89, 173) 50%, rgba(255, 66, 101, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.CompanySite-container{
    width: 100%;
    height: 60%;
    margin: auto auto;
    grid-column:  7 / 9; 
    grid-row: 2 / 3;
    color: rgb(0, 66, 247);
    display: block;

    
  
}
.Industry-container{
    width: 100%;
    height: 60%;
    margin: auto auto;
    grid-column:  7 / 9; 
    grid-row: 3 / 4 ;
    color: rgb(0, 66, 247);
    display: block;
    

}
.CompanyName-container{
    width: 100%;
    height: 60%;
    margin: auto auto;
    grid-column:  5 / 7; 
    grid-row: 2 / 3 ;
    color: rgb(0, 66, 247);
    position: relative;
 
    display: block;
   
}
.CompanyEmail-container{
    width: 100%;
    height: 60%;
    margin: auto auto;
    grid-column:  5 / 7;  
    grid-row: 3 / 4 ;
    color: rgb(0, 66, 247);
    display: block;

}


.ContactNumber-container{
    width: 100%;
    height: 60%;
    margin: auto auto;
    grid-column:  5 / 7;  
    grid-row: 4 / 5 ;
    color: rgb(0, 66, 247);
    display: block;
}
.ContactEmail-container{
    width: 100%;
    height: 60%;
    margin: auto auto;
    grid-column:  7 / 9;  
    grid-row: 4 / 5 ;
    color: rgb(0, 66, 247);
    display: block;
}

.OrgSize-container{
    width: 100%;
    height: 40%;
    margin: auto auto;
    grid-column:  5 / 7;  
    grid-row: 5 / 6 ;
    color: #0042f7;
    display: block;
    position: relative;
    bottom: 5px;
}

.OrgType-container{
    width: 100%;
    height: 60%;
    margin: auto auto;
    grid-column:  7 / 9;  
    grid-row: 5 / 6 ;
    color: rgb(0, 66, 247);
    display: block;
}

.Checkbox-container{
    width: 140%;
    height: 60%;
    font-size: 15px;
    grid-column:  4 / 6; 
    grid-row: 7 / 8;
    color: rgb(100, 103, 114);
    position: relative;
    left: 270px;
    bottom: 30px;
    display: block;

}

.Submit-container{
    width: 140%;
    height: 60%;
    grid-column:  6 / 7; 
    grid-row: 9 / 10;
    color: rgb(0, 66, 247);
    position: relative;
    bottom: 30px;
    left: 80px;
    display: block;
}



/* FOR MOBILE SCREENS */
@media only screen and (max-width: 65em) {

    .createcompany-container
    {
        width: 90%;
    }

}