.about-us-container
{
    padding: 5em;
    width: 60%;
    margin: auto;
}

/* FOR MOBILE SCREENS */
@media only screen and (max-width: 65em) {

    .about-us-container
    {
        width: 90%;
    }

}