.login-container {
    padding: 5em;
    width: 60%;
    height: 100vw;
    margin: auto;
}

/* FOR MOBILE SCREENS */
@media only screen and (max-width: 65em) {

    .login-container {
        width: 90%;
    }

}