#heading {
    font-size: 0.6em;
    padding: 4em;
    color: white;
    font-weight: bold;
    text-align: center;
}

#colorful {
    /* position: absolute;
    font-family: 'Helvetica';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    color: rgba(255, 255, 255, .1);
    background: linear-gradient(to right, rgb(76, 217, 105), rgb(52, 170, 220), rgb(88, 86, 217), rgb(255, 45, 83), rgb(255, 45, 83), rgb(88, 86, 217), rgb(52, 170, 220), rgb(76, 217, 105));
    background-size: 400%;
    -webkit-background-clip: text;
    font-weight: 900;
    font-size: 4em;
    animation: sTransition 16s linear infinite;
}

@keyframes sTransition {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }

}

#quoted {
    margin-top: 0.5em;
    color: gray;
    font-style: italic;
}

/* LARGE (NON-MOBILE) SCREENS */
@media only screen and (min-width: 65rem) {

    #heading {
        font-size: 1em;
        padding: 5em;
    }
}