name: Deployment to AWS
on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Latest Repo
        uses: actions/checkout@master

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build backend code
        run: cd ./Milestones/M3/HorizontalPrototype/backend/hiring_guru_be && ./gradlew build && cd -

      - name: Build Frontend and push
        uses: docker/build-push-action@v2
        with:
          context: ./Milestones/M3/HorizontalPrototype/frontend/hiring_guru_fe/
          file: ./Milestones/M3/HorizontalPrototype/frontend/hiring_guru_fe/Dockerfile.prod
          push: true
          tags: broadsword007/hiring_guru:latest
      
      - name: Build Backend and push
        uses: docker/build-push-action@v2
        with:
          context: ./Milestones/M3/HorizontalPrototype/backend/hiring_guru_be/
          file: ./Milestones/M3/HorizontalPrototype/backend/hiring_guru_be/Dockerfile.prod
          push: true
          tags: broadsword007/hiring_guru_backend:latest
      
      - name: Get Timestamp
        uses: gerred/actions/current-time@master
        id: current-time

      - name: Run String Replace
        uses: frabert/replace-string-action@master
        id: format-time
        with:
          pattern: '[:\.]+'
          string: "${{ steps.current-time.outputs.time }}"
          replace-with: '-'
          flags: 'g'

      - name: Generate Frontend Deployment Package
        run: cd ./Milestones/M3/HorizontalPrototype/frontend/hiring_guru_fe && zip -r deploy.zip * -x "**node_modules**" && cd -
      
      - name: Generate Backend Deployment Package
        run: cd ./Milestones/M3/HorizontalPrototype/backend/hiring_guru_be && zip -r deploy.zip * && cd -

      - name: Deploy Frontend to EB
        uses: einaregilsson/beanstalk-deploy@v16
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: "Hiring Guru"
          environment_name: "Hiringguru-prod"
          version_label: "docker-app-${{ steps.format-time.outputs.replaced }}"
          region: us-west-1
          deployment_package: ./Milestones/M3/HorizontalPrototype/frontend/hiring_guru_fe/deploy.zip
      
      - name: Deploy Backend to EB
        uses: einaregilsson/beanstalk-deploy@v16
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: "Hiring Guru Backend Prod"
          environment_name: "Hiringgurubackendprod-env"
          version_label: "docker-app-${{ steps.format-time.outputs.replaced }}"
          region: us-west-1
          deployment_package: ./Milestones/M3/HorizontalPrototype/backend/hiring_guru_be/deploy.zip
